h1, h2, h3, h4, h5, h6, p, a, ul{
    margin: 0 0 .75em;
    color: $font-main;
    font-family: $font-stack;
    font-weight: $font-normal;
  }
  
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child{
    margin: 0;
  }
    
  
  h1{
    font-size: 3.7rem;
    font-weight: $font-normal;
    line-height: 1.15;
    letter-spacing: 3px;
  }
  
  h2{
    font-weight: $font-bold;
    letter-spacing: 2px;
    line-height: 1;
  }
  
  h3{
    font-weight: $font-bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 1;
  }